<h2>All Superheroes</h2>
<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <!-- trick question? starter code had super_name -->
      <%= link_to(superhero.name, superhero) %>
    </li>
    <br>
  <% end %>
</ul>
